.divContainer {
  background-color: rgba(228, 8, 8, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.paginStyle {
  margin: 1px;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  border: 1px;
  letter-spacing: 2px;
  min-width: 160px;
  font-weight: 700;
  text-align: center;
  padding: 8px 8px 10px;
  color: #031d2e;
  background-color: transparent;
  height: 10px;
}

.buttonStyle {
  display: inline-block;
  outline: none;
  font-size: 12px;
  line-height: 1;
  border: 1px solid transparent;
  letter-spacing: 2px;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 8px 8px 10px;
  color: rgb(158, 17, 17);
  background-color: rgb(66, 66, 241);
  height: 30px;
}
